<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.httpnick.geotracker" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationTracking"
            android:label="MenakaLocation" >
        </activity>
        <activity
            android:name=".RegisterUser"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TermsOfUse"
            android:label="TermsOfUse" >
            </activity>
        <activity
            android:name=".PasswordRecovery"
            android:label="PassWordRecovery" >
            </activity>
        <activity
            android:name=".UserAccount"
            android:label="@string/title_activity_user_account" >
        </activity>
        <activity
            android:name=".Trajectory"
            android:label="Trajectory" >
            </activity>
    </application>
</manifest>
